<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">         <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    </head>



    <body>

        <div class="main">
            <div class="login" style="background-color: #1bcdd7">
                <div class="wrap-login100">
                    <form class="login-form" method="POST">
                        {{ form.hidden_tag() }}
                        <span class="login-form-title">
                            Login
                        </span>
                        <div class="wrap-input100 validate-input">
                            {{ form.email.label(class="label-input100") }}


                        {% if form.email.errors %}
                            {{ form.email(class="input100 is-invalid", placeholder="Type your email", autocomplete="off") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span> {{ error }} </span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.email(class="input100", placeholder="Type your email", autocomplete="off") }}
                        {% endif %}  
                        </div>

                        <div class="wrap-input101 validate-input">
                            {{ form.password.label(class="label-input100") }}

                        {% if form.password.errors %}
                            {{ form.password(class="input100 form-control form-control-lg is-invalid", placeholder="Type your password", autocomplete="off") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.password(class="input100", placeholder="Type your password", autocomplete="off") }}
                        {% endif %}
                        </div>

                        <div class="text-right">
                            <a href="{{ url_for('forgot_password') }}">
                                Forgot password?
                            </a>
                        </div>

                        <div class="container-login-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="login100-form-btn">
                                    Login
                                </button>
                            </div>
                        </div>
<!---
                        <div class="txt1 text-center">
                            <span>
                                Or Login Using
                            </span>
                        </div>
                        <div class="signupusing">
                            <a href="#" class="login100-social-item bg1">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="login100-social-item bg2">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="login100-social-item bg3">
                                <i class="fa fa-google"></i>
                            </a>
                        </div>
--->
                        <div class="signup">
                            <span class="sign">
                                Don't have an Account?
                            </span>
                            <a href="{{ url_for('signup') }}" class="txt2">
                                Sign Up
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</body>
</html>
