<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        
        <div class="content-section"> 
            <div class="media"> 
                <img class="rounded-circle account-img" src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn1.iconfinder.com%2Fdata%2Ficons%2Fuser-pictures%2F100%2Funknown-512.png&imgrefurl=https%3A%2F%2Fwww.iconfinder.com%2Ficons%2F403017%2Fanonym_avatar_default_head_person_unknown_user_icon&tbnid=69kPMaWvbwYvQM&vet=12ahUKEwin3d3KxMnpAhVy5XMBHaTyBj8QMygDegUIARCoAQ..i&docid=qfgRPXFpq-VjSM&w=512&h=512&q=default%20image%20icon&ved=2ahUKEwin3d3KxMnpAhVy5XMBHaTyBj8QMygDegUIARCoAQ"> 
                <div class="media-body">
                    <h2 class="account-heading">{{current_user.username}}</h2> 
                    <p class="text-secondary">{{current_user.email}}</p> 
                </div>
            </div> 
        </div>
    </body>
</html>