<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/tic-tac-toe-styles.css">
    <script src="../static/tic-tac-toe.js" defer></script>
    <title>Tic-Tac-Toe</title>
  </head>
  <body>
    <div class="board" id="board">
      <div class="cell" id="1" data-cell></div>
      <div class="cell" id="2" data-cell></div>
      <div class="cell" id="3" data-cell></div>
      <div class="cell" id="4" data-cell></div>
      <div class="cell" id="5" data-cell></div>
      <div class="cell" id="6" data-cell></div>
      <div class="cell" id="7" data-cell></div>
      <div class="cell" id="8" data-cell></div>
      <div class="cell" id="9" data-cell></div>
    </div>
    <div class="winning-message" id="winningMessage">
      <div data-winning-message-text></div>
      <button id="restartButton">Restart</button>
    </div>
  </body>
</html>