<!DOCTYPE html>
<html>
<head>
	<title>Create Group</title>
</head>
<body>
	<h1>Create Groups</h1>
	<h3>
		
		{% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    

	</h3>
	<form method="post">
		<label>
			Group Name:
		</label>
		<input type="text" name="room_name">
		<br><br>
		<label>Members</label>

		<input type="text" name="members">
		<small>You will be added by default</small>

		<br><br>

		<label>Enter Group Interests:</label>
		<br>
		{% for interest in interests %}

                      
                          <span class="field">{{ interest }}</span>
                          <input type="checkbox" name="room_interests" value="{{ interest }}"><br>

        {% endfor %}

        <label>Any Other</label>
		<input type="text" name="tags">

		<br><br>
		

		<label>Enter Group Status:</label>
		<select name="status"> 
			<option value="Open">Open</option>
			<option value="Invite Only">Invite Only</option>
		</select>
		<br><br>

		
		<button type="submit">Submit</button>
	</form>
</body>
</html>