<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">


<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
    <title>Homepage</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Pacifico&display=swap" rel="stylesheet"
      <link rel="icon" href="favicon (7).ico">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
<link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body style="width:100%;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="Untitled.jpg" style="height:50px ;width:50px;border-radius:0%;font-family: 'Pacifico', cursive;"><a class="navbar-brand" href="#" style="font-family: 'Pacifico', cursive;"> MEETIFY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">LOG IN<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SIGN UP</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            FEATURES
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Dark Mode</a>
            <a class="dropdown-item" href="#">Join Group</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Create Group</a>
          </div>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary active" type="submit">SEARCH</button>
      </form>
    </div>
  </nav>

<section class="starter">
  <img src="https://www.jpweb.co.in/images/About_us.jpg">
  </section>
  <section class="mid">
    <div class="row">
     <div class="col-lg-7 col-sm-12"><p class="Modi">

       Meetify helps one to explore and nurture one's interests.
       Be ready to embark on your journey of learning!<br>
       1>Inform us about your interests!<br>

       2>Join groups that interest you.<br>
       3>We will help you connect<br> with like minded people!<br>
       4>Keep Learning and growing <br>in this process and...<br>
       5>Help others to grow too!<br></p>
       </div>
       <div class="col-lg-5 col-sm-6">
         <div class="card container-fluid" style="width: 15rem;background-color:#B7E9F7">
  <img class="card-img-top" src="Untitled.jpg" alt="Card image cap" style="margin-top:10px;">
  <div class="card-body">

    <p class="card-text" style="font-size:100%;margin:0px;font-family: 'Balsamiq Sans', cursive;"></p>
    <a href="" type="button" class="btn btn-info">Sign Up</a>

  </div>
</div>
         </div>
    </div>

    </section>
    <div class="foot">

    <p style="color:white">The Fantastic Four&#169;</p>

    </div>





<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script>
  document.querySelector(".card-text").innerHTML=Math.floor((100000*Math.random()))+100+" Meetifiers are active upto date";
  </script>
  </body>
</html>
