<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@500&family=Poppins&display=swap" rel="stylesheet">
    <style>
      .header{
        background-color:cerulean;

        height:90px;
      }
      body{
        background-color:#1bcdd7;
      }
      p{
font-family: 'Poppins', sans-serif;
        color:white; !important;
        font-size:3vw ;
      }
      .add{margin-right:1%;margin-bottom:5px;margin-top:5px;}
      h1{color:white;margin:3% 1%;font-size:5vw;}



  .aryan{width:90%;height:0px;border-style:none;border-top-style: solid;border-color:white;border-width:2px;}
  .part{margin-left:10%;background-color:;margin-right:10%;margin-top: 0px;margin-bottom: 0px;}
.maha{background-color:#52B2BF;width:70%;margin:20px auto;border:10px;}
      </style>
    <title>groupinfo</title>
  </head>
  <body>
  <div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:#151E3D;">
      <div class="navbar-header pull-left">
<a class="navbar-brand " href="#" style="font-family: 'Pacifico', cursive;color:#151E3D">

  <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/facebook/65/back-with-leftwards-arrow-above_1f519.png" style="margin-bottom:1%;height:auto;width:5%;">
  <h1 style="display:inline;color:#0492C2">Bharat Jai Jai Jai Jai</h1></a>
</div>


      <ul class="navbar-nav ml-auto pull-right">
        <li class="nav-item active">
          <a class="nav-link "  href="#"><img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/google/241/pen_1f58a.png" style="height:40px;width:40px;"><p style="display:inline;font-size:6px !important ;">Change Name<br><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
           <a class="nav-link "  href="#"><img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/facebook/65/heavy-plus-sign_2795.png" style="height:40px;width:40px;"><p style="display:inline;font-size:6px !important ;">Add a Meetifier<br></a>
        </li>


      </ul>

    </div>
  </nav>
    <!-- Image and text -->





    </div>
    <br><br><br>
    <div class="profilepic">
      <img src="https://media.gettyimages.com/videos/india-flag-loopable-video-id590544878?s=640x640" style="width:50%;height:auto;margin:20px 25%;border-radius:50%;">
      </div>
      <hr>
      <div class="description"><br>
        <p style="color:white;margin-left:5%;">Description</p>
        <p style="color:white;margin-left:5%;">Jai Hind!Jai Hind!Jai Hind!</p>
    <!-- Optional JavaScript -->

          <br>
              <div class="maha">
            <p style="color:white;margin-left:5%;">Group Participants</p>
          <br>

          <div class="part">
              <img src="https://nayadaur.tv/wp-content/uploads/2018/06/bhagat-singh-ji-650x394.jpg" style="height:80px;width:80px;border-radius:50%">
                <p style="color:white;margin-left:5%;display:inline;">Bhagat Singh</p>

            </div>
            <hr class="aryan">
            <br>
            <div class="part">
                <img src="https://www.newsgram.com/wp-content/uploads/2018/01/Rani-Laxmi-Bai3.jpeg" style="height:80px;width:80px;border-radius:50%">
                  <p style="color:white;margin-left:5%;display:inline;">Rani Laxmi Bai</p>

              </div><hr class="aryan"><br>
              <div class="part">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Mohandas_K._Gandhi%2C_portrait.jpg" style="height:80px;width:80px;border-radius:50%">
                    <p style="color:white;margin-left:5%;display:inline;">Mahatma Gandhi</p>


                </div><hr class="aryan"><br>
                <div class="part">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Sardar_patel_%28cropped%29.jpg/220px-Sardar_patel_%28cropped%29.jpg" style="height:80px;width:80px;border-radius:50%">
                      <p style="color:white;margin-left:5%;display:inline;">Sardar Patel</p>

                  </div><hr class="aryan"><br>
                  <div class="part">
                      <img src="https://images.assettype.com/swarajya/2019-05/4a6fd9c9-e559-4eba-9eb1-25a0f2527a0b/pjimage__9_.jpg?w=1280&q=100&auto=format&fm=pjpg" style="height:80px;width:80px;border-radius:50%">
                        <p style="color:white;margin-left:5%;display:inline;">Veer Savarkar</p>

                    </div><br></div>
<br><br>
<button type="button" class="btn btn-primary btn-lg btn-block" style="background-color:#52B2BF;color:white;font-family: 'Poppins', sans-serif;"><img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/samsung/220/angry-face_1f620.png" style="height:50px;width:50px;">Report Group</button>
<button type="button" class="btn btn-primary btn-lg btn-block" style="background-color:#52B2BF;color:white;font-family: 'Poppins', sans-serif;"><img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/samsung/220/worried-face_1f61f.png" style="height:50px;width:50px;">Exit Group</button>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
